* {box-sizing: border-box;}

body {
    background-color: #FFF7D4;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
}

.site-name {
    display: flex;
    align-items: center;
}

.site-name a {
    color: white;
    text-decoration: none;
}

.site-name img {
    width: 40px;
}

.site-name h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

.burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    transition: transform 0.3s ease;
    z-index: 1;
}

.burger-menu input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.search-container form {
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 10px;
    margin-right: 5px;
    height: 100%;
    box-sizing: border-box;
}

.search-container button,
.search-container span {
    padding: 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 100%;
}

.search-container span {
    margin-left: 5px;
}

.menu {
    display: flex;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.menu li {
    margin: 10px 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}

@media screen and (max-width: 1920px) {

    .burger-menu {
        display: flex;
        font-size: 18px;
    }

    .bar {
        height: 4px;
        margin: 4px 0;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .menu.show {
        display: flex;
    }

    .menu ul {
        flex-direction: column;
    }

    .burger-menu.open {
        transform: rotate(45deg); 
    }

    .burger-menu.open .bar:nth-child(1) {
        transform: translateY(0) rotate(-45deg);
    }

    .burger-menu.open .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .bar:nth-child(3) {
        transform: translateY(0) rotate(45deg);
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.slideshow-container {
    max-width: 1000px;
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.mySlides {
  display: none;
  max-height: 525px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#news {
    text-align: center;
    margin-bottom: 40px;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-article {
    background-color: #fff;
    max-width: 300px;
    margin: 0 15px 20px 15px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-article img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
}

.news-article h3 {
    color: #333;
}

.news-article p {
    text-align: justify;
    margin-bottom: 10px;
}

.btn-news {
    background-color: #0074d9;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
}

#matches-and-tickets {
    text-align: center;
}

.match-container,
.ticket-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.match-card,
.ticket-card{
    max-width: 550px;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    margin: 0 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.match-card img,
.ticket-card img {
    max-width: 45%;
    max-height: 60%;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 20px; 
}

.btn {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    padding: 10px 10px;
}

.btn:hover {
    background-color: #45a049;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    width: 140px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.footer-links a:hover {
    color: #0074d9; 
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-social a:hover {
    color: #0074d9;
}

.email-site {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

body.Login,
body.Registry,
body.Success {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('./images/Stadium.jpg') center/cover no-repeat;
}

form.loginForm,
form.registrationForm,
form.successForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; 
}

label {
    display: block;
    margin-bottom: 8px;
}

input.Login,
input.Registry {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button.Login,
button.Registry {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

h1.Success {
    color: #333;
}

p.Success {
    color: #555;
}

a.Success {
    color: #0074d9;
    text-decoration: none;
    font-weight: bold;
}

a:hover.Success {
    text-decoration: underline;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Optional, in case you want to center text horizontally */
  }

#overviewButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: yellow;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#overviewButton:hover {
    background-color: #3e8e41;
}

#overviewButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#subscription {
    text-align: center;
}

#subscriptionForm .subscription-input {
    display: block;
    width: 30%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.data-btn {
    background-color: #0074d9;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.subscription-plans {
    display: flex;
    justify-content: space-around;
}

.subscription-plan {
    max-width: 300px;
    background-color: #9ADE7B;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

.subscription-plan h3 {
    font-size: 25px;
    font-weight: bold;
}

.subscribe-btn {
    background-color: #D14D72;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
}

.subscribe-btn:hover {
    background-color: #45a049;
}

.info-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
}

.info-image {
    margin-right: 20px;
}

.info-image img {
    max-width: 100%;
    height: 95%;
    object-fit: cover;
}

.selection-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.match-info {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 20px;
}

.match-info h1 {
    color: #00529c;
}

.ticket-form {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
}

.ticket-form label {
    display: block;
    margin-bottom: 10px;
}

.ticket-form input,
.ticket-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.ticket-form button {
    background-color: #00529c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ticket-form button:hover {
    background-color: #004080;
}
