header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.site-name {
  display: flex;
  align-items: center;
}

.site-name a {
  color: white;
  text-decoration: none;
}

.site-name img {
  width: 40px;
}

.site-name h1 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

.burger-menu {
  cursor: pointer;
  flex-direction: column;
  display: flex;
  font-size: 18px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.burger-menu.open {
  transform: rotate(45deg);
}

.burger-menu.open .bar:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}

.burger-menu input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.bar {
  width: 25px;
  height: 4px;
  margin: 4px 0;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 10px;
  margin-right: 5px;
  height: 100%;
  box-sizing: border-box;
}

.search-container button {
  padding: 8px 15px;
  background: #e0d6a8;
  color: #333;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 100%;
  transition: background 0.3s;
}

.search-container button:hover {
  background: #fff;
}

.search-container span {
  margin-left: 5px;
}

.menu {
  z-index: 1;
  display: none;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #333;
}

.menu.show {
  display: flex;
}

.menu ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.menu li {
  margin: 10px 30px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .site-name {
    display: none;
  }

  .search-container form {
    display: flex;
    align-items: center;
  }

  .search-container input {
    padding: 4px;
    margin-left: 45px;
    margin-bottom: 5px;
    width: 40%;
    font-size: 18px;
    box-sizing: border-box;
  }

  .search-container button {
    padding: 8px;
    font-size: 6px;
    height: 25%;
    transition: background 0.3s;
  }

  .close-menu {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
  }

  .close-menu:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu a {
    font-size: 20px;
  }
}
