.info-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}

.info-image {
  margin-right: 20px;
}

.info-image img {
  max-width: 100%;
  border-radius: 4px;
  height: 95%;
  object-fit: cover;
}

.selection-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.match-info {
  background-color: #fff;
  font-size: 20px;
  border-radius: 8px;
  padding: 40px;
  margin-bottom: 20px;
}

.match-info h1 {
  color: #00529c;
  text-align: center;
  justify-content: center;
}

.ticket-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
}

.ticket-form label {
  display: block;
  margin-bottom: 10px;
}

.ticket-form input,
.ticket-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.ticket-form button {
  background-color: orange;
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-form button:hover {
  background-color: #ADA993;
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .info-image {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .match-info {
    padding: 20px;
  }
}