.info-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  display: flex;
}

.info-image-PSG {
  margin-right: 20px;
  margin: 20px 10px;
}

.info-image-PSG img {
  max-width: 100%;
  border-radius: 8px; 
  height: 100%;
  object-fit: cover;
}

.info-image-City {
  margin-right: 20px;
  margin: 20px 10px;
  text-align: center;
}

.info-image-City img {
  max-width: 100%;
  border-radius: 8px; 
  margin-top: 80px;
  height: 60%; 
  width: 95%;
  object-fit: cover;
}

.selection-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.match-info-PSG {
  background-color: #fff;
  font-size: 20px;
  border-radius: 8px;
  padding: 40px;
  width: 600px;
  margin: 20px auto;
}

.match-info-City {
  background-color: #fff;
  font-size: 20px;
  border-radius: 8px;
  padding: 60px;
  width: 800px;
  margin: 20px auto;
}

.match-info-PSG h1,
.match-info-City h1 {
  color: #00529c;
  text-align: center;
  justify-content: center;
}

.ticket-form {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
}

.ticket-form label {
  display: block;
  margin-bottom: 10px;
}

.ticket-form input,
.ticket-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.ticket-form button {
  background-color: orange;
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ticket-form button:hover {
  background-color: #ADA993;
}

@media screen and (max-width: 768px) {
  .info-container {
    flex-direction: column;
    align-items: center;
  }

  .info-image-PSG,
  .info-image-City {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
  }

  .info-image-City img {
    height: 100%; 
    width: 100%;
  }

  .match-info-PSG,
  .match-info-City {
    padding: 20px;
    max-width: 325px;
  }
}